* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

/* start logIn and signUp page */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .title h3 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  font-family: monospace;
  margin-bottom: 25px;
}
.container .form {
  min-height: 50vh;
}
.container .form .log-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid orange;
  padding: 20px;
  transition: 1s;
}
.container .form .log-in input,
.sign-up input,
.admin-form input {
  height: 45px;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 25px;
<<<<<<< HEAD
  font-size: 20px;
  color: #222;
  opacity: 0.8;
=======
  font-size: 18px;
  color: #222;
  opacity: 0.8;
  padding: 10px;
>>>>>>> 69399f8 (aflam)
}
input:checked {
  border: none;
}
.user-label {
  font-size: 20px;
  color: orange;
  margin-bottom: 12px;
  font-family: monospace;
}
p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
p span {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
  font-size: 19px;
}
.sign-up {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid orange;
  padding: 20px;
  display: none;
  transition: 1s;
}
button {
  padding: 8px;
  border-radius: 12px;
  border: none;
  margin-bottom: 13px;
  cursor: pointer;
  color: orange;
  font-size: 20px;
  background-color: #111;
}
.admin-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid orange;
  padding: 20px;
  display: none;
  transition: 1s;
}
<<<<<<< HEAD

.error-message {
  color: #d00101;
  font-size: 14px;
  display: none;
}

.input-container {
  position: relative;
}

.input-container .fa-exclamation {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #d00101;
  opacity: 0;
  pointer-events: none;
}

.input-container.error .fa-exclamation {
  opacity: 1;
}

.input-container.error input {
  border: 3px solid #d00101;
}
=======
>>>>>>> 69399f8 (aflam)
/* end logIn and signUp page */
/* start profile page */
.head {
  width: 100%;
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 999;
}
.head .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}
.navbar .logo {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.navbar .logo::first-letter {
  color: orange;
}
.navbar .nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  transition: 0.5s ease;
  position: relative;
}
.navbar .nav-links a:hover {
  color: orange;
}
.navbar .nav-links a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: 1s;
  width: 0;
  height: 4px;
  background-color: orange;
}
.navbar .nav-links a:hover::before {
  width: 100%;
}
.navbar .nav-links a.active {
  color: orange;
}
/* .sections {
  position: relative;
  width: 200px;
}
.sections .nav-sections {
  position: absolute;
  box-shadow: -2px -1px 1px 1px;
  display: block;
  margin-top: 40px;
  padding: 12px;
  list-style: none;
}
.sections .nav-sections li {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
} */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.container .page-title {
  font-size: 25px;
  color: #fff;
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 100px;
  transition: 0.7s ease-in-out;
  border: 3px solid orange;
}
.container .page-title:hover {
  color: orange;
  background-color: transparent;
}
.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}
.profile-info .text {
  margin-top: 70px;
}
.profile-info .text h3 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.profile-info .text h3 span {
  color: orange;
}
.profile-info .text p {
  font-size: 21px;
}
.profile-info img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
table td {
  color: #fff;
  border: 2px solid orange;
  border-radius: 12px;
  font-size: 20px;
  padding: 12px;
}
table tr {
  margin: 12px;
}

.favorit-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.favorit-list .fav-title {
  font-size: 25px;
  color: #fff;
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
  border: 3px solid orange;
  text-align: center;
  width: 200px;
  margin-left: 43%;
  margin-top: 25px;
  margin-bottom: 30px;
}
.favorit-list .fav-title:hover {
  color: orange;
  background-color: transparent;
}
.autoplay {
  width: 95%;
  margin-left: 40px;
  margin-bottom: 40px;
}
.autoplay .favorite-card {
  width: 350px;
  margin: 20px;
  height: auto;
  border-radius: 12px;
}
.autoplay .favorite-card img {
  width: 350px;
  border-radius: 12px;
}
.slick-next {
  right: -14px;
}
.slick-prev {
  left: -21px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 26px;
  z-index: 9;
}

@media screen and (max-width: 676px) {
  .head .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .head .navbar {
    text-align: center;
  }
  .navbar .nav-links {
    margin-top: 13px;
  }
  .container .page-title {
    margin-top: 40px;
  }
  .profile-info {
    flex-direction: column;
    margin-top: 60px;
  }
  .profile-info .text {
    margin-left: 40px;
  }
  table {
    margin-left: 40px;
  }
  .favorit-list .fav-title {
    margin-left: 29%;
  }
  .autoplay {
    width: 95%;
    margin-left: 16px;
  }
  .autoplay .favorite-card img {
    width: 190px;
  }
}
/* end profile page */
<<<<<<< HEAD
=======
/* start film page */
/* start main nav */
.main-head {
  z-index: 999;
  width: 100%;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  color: aliceblue;
  background-color: transparent;
  text-align: center;
  z-index: 999;
  width: 100%;
  min-height: 10vh;
}
.main-nav .logo,
.menu-title {
  color: #fff;
  height: 34px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-left: 50px;
  /* font-family: "Kablammo", cursive; */
}
.toggle-icon {
  font-size: 25px;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.5s ease;
  display: none;
}
.toggle-icon:hover {
  color: #efae28;
}
.main-nav .logo span,
.menu-title span {
  color: #efae28;
}
.main-nav .search-nav {
  padding: 10px 15px;
  width: 650px;
  border-radius: 25px;
  height: 40px;
  margin-top: 25px;
  background-color: transparent;
  border: #f2f2f2 2px solid;
}
.main-nav .search-nav::placeholder {
  margin-left: 10px;
  font-size: 15px;
}
.main-nav .search-nav:checked {
  border: orange;
}
.main-nav .nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 50px;
}
.main-nav .nav-links a:nth-child(1) {
  color: #efae28;
}
.main-nav .nav-links a {
  font-size: 18px;
  font-weight: 600;
  color: #f2f2f2;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.5s ease;
}
.main-nav .nav-links a:hover,
.menu-links a:hover {
  color: #efae28;
}
/* end main nav */
.film {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.film .film-img {
  display: flex;
  width: 500px;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 50px;
  height: 500px;
}
.film .film-img img {
  width: 100%;
  border-radius: 10px;
  height: 500px;
}
.film .film-img a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #efae28;
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
  border: 3px solid #efae28;
  transition: 0.5s ease;
}
.film .film-img a:hover {
  color: #efae28;
  background-color: transparent;
}
.film-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  width: calc(100% - 500px);
}
.film-info h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.film-info .film-pakage {
  display: flex;
  flex-direction: row;
}
.film-info .film-pakage .film-type,
.film-info .film-pakage .film-rate,
.film-info .film-pakage .film-time {
  border: 1px solid #fff;
  margin-right: 40px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}
.film-info .film-pakage .film-type h3,
.film-info .film-pakage .film-rate h3,
.film-info .film-pakage .film-time h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.film-info .film-pakage .film-type p,
.film-info .film-pakage .film-rate p,
.film-info .film-pakage .film-time p {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}
.film-info .film-pakage .film-rate p i {
  color: #efae28;
}
.film-info .film-text {
  font-size: 20px;
  color: #9e9e9e;
  font-weight: 400;
  margin-top: 20px;
}
.film-info .film-text span {
  color: #efae28;
  cursor: pointer;
}
.film-info .film-cast h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin-top: 5px;
}
.film-info .film-cast .cast-img {
  display: flex;
  flex-direction: row;
}
.film-info .film-cast .cast-img .cast-inf {
  display: flex;
  margin-right: 10px;
}
.film-info .film-cast .cast-img .cast-inf p {
  margin-top: 70px;
  margin-left: 20px;
  color: #fff;
  font-size: 11px;
}
.film-info .film-cast .cast-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.trailar {
  width: calc(100% - 60px);
  margin-left: 40px;
}
.trailar h3 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.trailar .trailar-vid {
  width: 100%;
}
.trailar .trailar-vid iframe {
  width: 100%;
}
.film-foot {
  margin-top: 50px;
}
/* start footer */
.foot {
  padding: 70px 70px;
  border-top: 3px solid #efae28;
}
.foot .foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.foot .learn-more-sec {
  margin: 20px;
}
.foot .learn-more-sec h3,
.ticket-sec h3,
.contact-us-sec h3,
.social-icons-foot h3 {
  font-size: 16px;
  color: #efae28;
}
.foot .learn-more-sec ul,
.ticket-sec ul,
.contact-us-sec ul {
  display: flex;
  flex-direction: column;
}
.foot .learn-more-sec ul a,
.ticket-sec a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 15px;
  transition: 0.5s ease;
}
.foot .learn-more-sec ul a:hover {
  color: #efae28;
}
.ticket-sec a:hover {
  color: #efae28;
}
.foot .contact-us-sec ul p {
  color: #f2f2f2;
  font-size: 15px;
}
.foot .contact-us-sec ul span {
  color: #efae28;
}
.foot .social-icons-foot a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 20px;
  margin-right: 15px;
  transition: 0.5s ease;
}
.foot .social-icons-foot a:nth-child(1):hover {
  color: rgb(59, 59, 226);
}
.foot .social-icons-foot a:nth-child(2):hover {
  color: rgb(255, 64, 0);
}
.foot .social-icons-foot a:nth-child(3):hover {
  color: blue;
}
/* end footer */
/* end film page */
/* start film responsive */
@media screen and (max-width: 676px) {
  .film {
    flex-direction: column;
    width: 100%;
  }
  .film .film-img {
    margin-left: 0;
    width: 370px;
  }
  .film .film-img img {
    width: 370px;
  }
  .film .film-img a {
    width: 370px;
  }
  .film-info {
    width: 100%;
  }
  .film-info .film-pakage {
    flex-wrap: wrap;
    text-align: center;
  }
  .film-info .film-pakage .film-type p,
  .film-info .film-pakage .film-rate p,
  .film-info .film-pakage .film-time p {
    font-size: 18px;
  }
  .film-info .film-pakage .film-type,
  .film-info .film-pakage .film-rate,
  .film-info .film-pakage .film-time {
    margin: 15px;
  }
  .film-info .film-cast .cast-img .cast-inf {
    width: 150px;
  }
  .film-info .film-cast .cast-img {
    flex-wrap: wrap;
  }
}
/* end film responsive */

/* start landing page "HOME" */
.home-page {
  background-color: #000000;
  padding: 0 40px;
}
.landing-page {
  min-height: 100vh;
  background: url(Rumble.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.landing-page .land-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 30px;
}
.land-nav .land-logo {
  font-size: 30px;
  font-weight: 600;
  color: #f2f2f2;
}
.land-nav .land-logo::first-letter {
  color: #efae28;
}
.land-nav .land-nav-links a {
  font-size: 18px;
  margin-right: 25px;
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.5s;
  position: relative;
}
.land-nav .land-nav-links a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #efae28;
  transition: 0.7s;
}
.land-nav .land-nav-links a:hover::before {
  width: 100%;
}
.land-nav .land-nav-links a:hover {
  color: #efae28;
}
.land-nav .land-nav-search {
  width: 252px;
}
.land-nav .land-nav-search input {
  background-color: rgba(232, 230, 230, 0.4);
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  color: #5a5858;
  width: 90px;
  cursor: pointer;
  margin-right: 100px;
  transition: 1s;
  outline: none;
}
.land-nav .land-nav-search input:focus {
  width: 252px;
  margin-right: 0;
}
.landing-page .land-contant {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 40%;
}
.land-contant .text {
  font-size: 20px;
  color: #f2f2f2;
  font-weight: 500;
}
.land-contant .rate {
  display: flex;
  margin-top: 30px;
}
.land-contant .rate svg {
  font-size: 20px;
  color: #efae28;
  margin-right: 5px;
}
.land-contant .rate h3 {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
}
.land-contant .play-btns {
  margin-top: 30px;
  display: flex;
}
.land-contant .play-btns button {
  padding: 7px 40px;
  border-radius: 20px;
  background-color: #0680fb;
  color: #f2f2f2;
  border: 3px solid #0680fb;
}
.department-bar {
  width: 100%;
  display: flex;
  height: 100px;
  margin-top: 50px;
  justify-content: space-around;
}
.department-bar a {
  width: 150px;
  border-radius: 20px;
  text-decoration: none;
  height: 45px;
  padding: 12px;
  color: #f2f2f2;
  background-color: rgba(199, 196, 196, 0.1);
  text-align: center;
  border: 2px solid rgba(199, 196, 196, 0.1);
  transition: 0.7s;
}
.department-bar a:hover {
  background-color: transparent;
}
.most-viewed .most-view-title {
  font-size: 35px;
  color: #f2f2f2;
  font-weight: 600;
}
.most-viewed .autoplay .card {
  width: 350px;
  height: 250px;
  margin: 25px;
}
.most-viewed .autoplay .card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* END landing page "HOME" */
>>>>>>> 69399f8 (aflam)
